body{
    background-color: rgb(42, 42, 42);
    display: grid;
    width: 100%;
    height: 500px;
  grid-template-areas: ". head ."
                       ". block ."
                       ". . ."
                       ". . .";
  grid-template-rows: 1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5em;
}
header{
    color: rgb(239, 239, 239);
    font-size: 3em;
    text-align: center;
    background-color: rgb(31, 121, 224);
    border-radius: 0.5em;;
    align-self: center;
    grid-area: head;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
}
#loginblock{
    grid-area: block;
    text-align: center;
    border-radius: 1.5em;
    color: rgb(187, 187, 187);
    background-color: rgb(88, 88, 88);
    align-content: center;
    
}
#login{
    width: 100px;
    align-self: auto;
    text-decoration: none;
}
input{
    padding: 0.4em;
    margin-top: 1em;
}
button{
    width: 200px;
    border-radius: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    
}
button:hover{
    color: rgb(31, 121, 224);
}

#role{
    list-style: none;
    list-style-position: inside;
}
li{
    display: inline-block;
    margin-right: 1em;
}
#role2> li >img{
    width: 100px;
    height: 100px;
}
#role2> li:hover{
    background:  rgb(31, 121, 224);
    border-radius: 1em;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; } 
